In [1]:
import pandas as pd
import datetime
import seaborn as sns
import os, glob

In [2]:
## make one new big file with all csv-files
#path = '/Users/martinagottschalk/neuefische/MPO-Kickstarter/data'

## Read all .csv-files
#all_files = glob.glob(os.path.join(path, "Kickstarter*.csv"))
#df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)

## Merge .csv-files
#df_merged   = pd.concat(df_from_each_file, ignore_index=True)
#df_merged.to_csv('data/Kickstarter_merged.csv')

In [3]:
#from pathlib import Path
#def read_files():
#    """ Only create new csv if not already done"""
#    if not Path("./Kickstarter/data/Kickstarter_merged.csv").exists():
        # Read and merge .csv-files
        # Read all .csv-files
#        all_files = glob.glob(os.path.join(path, "Kickstarter*.csv"))
#        df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
        # Merge .csv-files
#        df_merged = pd.concat(df_from_each_file, ignore_index=True)
#        df_merged.to_csv('./Kickstarter/data/Kickstarter_merged.csv')
#    """Otherwise just read in dataframe from merged .csv file"""
#    return pd.read_csv('./Kickstarter/data/Kickstarter_merged.csv', index_col=0)
#df = read_files()

In [4]:
df = pd.read_csv('data/Kickstarter_merged.csv', index_col=0)

In [5]:
df.shape

(209222, 37)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209222 entries, 0 to 209221
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             209222 non-null  int64
 1   blurb                     209214 non-null  object
 2   category                  209222 non-null  object
 3   converted_pledged_amount  209222 non-null  int64
 4   country                   209222 non-null  object
 5   created_at                209222 non-null  int64
 6   creator                   209222 non-null  object
 7   currency                  209222 non-null  object
 8   currency_symbol           209222 non-null  object
 9   currency_trailing_code    209222 non-null  bool
 10  current_currency          209222 non-null  object
 11  deadline                  209222 non-null  int64
 12  disable_communication     209222 non-null  bool
 13  friends                   300 non-null     object
 14  fx_rate                   209222 non-null  float64
 15  goal                      209222 non-null  float64
 16  id                        209222 non-null  int64
 17  is_backing                300 non-null     object
 18  is_starrable              209222 non-null  bool
 19  is_starred                300 non-null     object
 20  launched_at               209222 non-null  int64
 21  location                  208996 non-null  object
 22  name                      209222 non-null  object
 23  permissions               300 non-null     object
 24  photo                     209222 non-null  object
 25  pledged                   209222 non-null  float64
 26  profile                   209222 non-null  object
 27  slug                      209222 non-null  object
 28  source_url                209222 non-null  object
 29  spotlight                 209222 non-null  bool
 30  staff_pick                209222 non-null  bool
 31  state                     209222 non-null  object
 32  state_changed_at          209222 non-null  int64
 33  static_usd_rate           209222 non-null  float64
 34  urls                      209222 non-null  object
 35  usd_pledged               209222 non-null  float64
 36  usd_type                  208742 non-null  object
dtypes: bool(5), float64(5), int64(7), object(20)
memory usage: 53.7+ MB

In [7]:
# drop friends, is_backing, is_starred, permissions because too much missing values
df.drop(columns=['friends', 'is_backing', 'is_starred', 'permissions'],  inplace=True)
df.shape

(209222, 33)

In [8]:
df.head(1)

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",USD,$,True,...,babalus-childrens-shoes,https://www.kickstarter.com/discover/categorie...,False,False,live,1548223375,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",28645.0,international

In [9]:
df.describe()

,backers_count,converted_pledged_amount,created_at,deadline,fx_rate,goal,id,launched_at,pledged,state_changed_at,static_usd_rate,usd_pledged
count,209222.000000,2.092220e+05,2.092220e+05,2.092220e+05,209222.000000,2.092220e+05,2.092220e+05,2.092220e+05,2.092220e+05,2.092220e+05,209222.000000,2.092220e+05
mean,145.419057,1.289290e+04,1.456089e+09,1.463033e+09,0.994857,4.917604e+04,1.073222e+09,1.460206e+09,1.881403e+04,1.462838e+09,1.010757,1.289213e+04
std,885.967976,8.889414e+04,6.339711e+07,6.305618e+07,0.211654,1.179427e+06,6.198051e+08,6.309029e+07,3.229596e+05,6.290421e+07,0.231893,8.890124e+04
min,0.000000,0.000000e+00,1.240366e+09,1.241334e+09,0.008966,1.000000e-02,8.624000e+03,1.240603e+09,0.000000e+00,1.241334e+09,0.008771,0.000000e+00
25%,4.000000,1.060000e+02,1.413317e+09,1.420607e+09,1.000000,1.500000e+03,5.351054e+08,1.417639e+09,1.100000e+02,1.420485e+09,1.000000,1.060014e+02
50%,27.000000,1.537000e+03,1.457895e+09,1.464754e+09,1.000000,5.000000e+03,1.074579e+09,1.461924e+09,1.556000e+03,1.464709e+09,1.000000,1.537358e+03
75%,89.000000,6.548000e+03,1.511595e+09,1.519437e+09,1.000000,1.500000e+04,1.609369e+09,1.516694e+09,6.887200e+03,1.519366e+09,1.000000,6.550000e+03
max,105857.000000,8.596474e+06,1.552527e+09,1.557721e+09,1.876033,1.000000e+08,2.147476e+09,1.552537e+09,8.103074e+07,1.552537e+09,1.716408,8.596475e+06

In [10]:
df.columns

Index(['backers_count', 'blurb', 'category', 'converted_pledged_amount',
       'country', 'created_at', 'creator', 'currency', 'currency_symbol',
       'currency_trailing_code', 'current_currency', 'deadline',
       'disable_communication', 'fx_rate', 'goal', 'id', 'is_starrable',
       'launched_at', 'location', 'name', 'photo', 'pledged', 'profile',
       'slug', 'source_url', 'spotlight', 'staff_pick', 'state',
       'state_changed_at', 'static_usd_rate', 'urls', 'usd_pledged',
       'usd_type'],
      dtype='object')

# countries

In [11]:
# dictionary countries
df['country'].unique()
dict_country = {'US': 'United States', 'GB': 'Great Britain', 'FR': 'France', 'AU': 'Australia', 
                'NZ': 'New Zealand', 'ES': 'Spain', 'IT': 'Italy', 'NO': 'Norway', 'NL': 'Netherlands', 'CA': 'Canada',
                'SG': 'Singapur', 'MX': 'Mexico', 'SE': 'Sweden', 'IE': 'Ireland', 'DE': 'Germany', 'BE': 'Belgium', 
                'HK': 'Hongkong', 'AT': 'Austria', 'JP': 'Japan', 'DK': 'Denmark', 'CH': 'Switzerland', 
                'LU': 'Luxembourg'}

In [12]:
# add dictionary to dataFrame
#df["country_new"] = df.apply(lambda x: df.get(x['dict_country'], axis=1)  #extract_ids(x["location"]), axis=1)

# currency

In [13]:
# Alle Spalten anzeigen, die was mit finance/currency zu tun haben

finance = ['country', 'converted_pledged_amount', 'currency',   'current_currency',
           'fx_rate', 'goal', 'pledged', 'static_usd_rate', 'usd_pledged', 'usd_type']
finance2 = ['currency_symbol', 'currency_trailing_code']
#non_finance = ['backers_count', 'blurb', 'category', 'country', 'created_at', 'creator','deadline', 'disable_communication', 'friends', 'id', 'is_backing', 'is_starrable', 'is_starred', 'launched_at', 'location','name', 'permissions', 'photo', 'profile', 'slug', 'source_url', 'spotlight', 'staff_pick','state', 'state_changed_at', 'urls']
#df_finance = df.drop('non_finance', axis=1)
df[finance].head(30)

,country,converted_pledged_amount,currency,current_currency,fx_rate,goal,pledged,static_usd_rate,usd_pledged,usd_type
0,US,28645,USD,USD,1.000000,28000.0,28645.00,1.000000,28645.000000,international
1,US,1950,USD,USD,1.000000,1000.0,1950.00,1.000000,1950.000000,domestic
2,US,22404,USD,USD,1.000000,15000.0,22404.00,1.000000,22404.000000,international
3,GB,165,GBP,USD,1.308394,10000.0,136.00,1.216066,165.384934,domestic
4,US,2820,USD,USD,1.000000,2800.0,2820.00,1.000000,2820.000000,domestic
5,US,3725,USD,USD,1.000000,3500.0,3725.00,1.000000,3725.000000,domestic
6,US,3890,USD,USD,1.000000,2500.0,3890.00,1.000000,3890.000000,domestic
7,US,660,USD,USD,1.000000,400.0,660.00,1.000000,660.000000,international
8,GB,540,GBP,USD,1.308394,375.0,375.00,1.412765,529.786729,international
9,GB,2552,GBP,USD,1.308394,380.0,1954.00,1.287697,2516.160602,international
10,US,0,USD,USD,1.000000,150000.0,0.00,1.000000,0.000000,domestic
11,US,1405,USD,USD,1.000000,800.0,1405.00,1.000000,1405.000000,domestic
12,US,47,USD,USD,1.000000,10000.0,47.00,1.000000,47.000000,international
13,US,5323,USD,USD,1.000000,4500.0,5323.00,1.000000,5323.000000,international
14,US,7035,USD,USD,1.000000,7000.0,7035.00,1.000000,7035.000000,international
15,US,110,USD,USD,1.000000,101.0,110.00,1.000000,110.000000,domestic
16,FR,4579,EUR,USD,1.128433,4200.0,4230.00,1.111353,4701.023782,international
17,AU,15957,AUD,USD,0.705792,15000.0,20169.00,0.759992,15328.270782,international
18,US,5667,USD,USD,1.000000,5000.0,5667.00,1.000000,5667.000000,domestic
19,US,760,USD,USD,1.000000,650.0,760.00,1.000000,760.000000,international
20,US,2690,USD,USD,1.000000,2500.0,2690.14,1.000000,2690.140000,domestic
21,US,117817,USD,USD,1.000000,50000.0,117817.00,1.000000,117817.000000,international
22,NZ,705,NZD,USD,0.684141,1000.0,1015.00,0.692230,702.613237,international
23,US,15670,USD,USD,1.000000,15000.0,15670.00,1.000000,15670.000000,domestic
24,FR,5,EUR,USD,1.128433,50000.0,5.00,1.094757,5.473783,domestic
25,GB,2808,GBP,USD,1.308394,2000.0,2199.00,1.301163,2861.258251,international
26,US,617,USD,USD,1.000000,500.0,617.00,1.000000,617.000000,international
27,GB,21161,GBP,CAD,1.748586,20000.0,12102.00,1.315996,15926.177904,NaN
28,GB,14,GBP,USD,1.308394,5000.0,10.00,1.411849,14.118491,domestic
29,FR,437,EUR,USD,1.128433,350.0,376.00,1.158051,435.427090,international

In [14]:
# check if goal and pledged are in the currency of the country
df.iloc[22:23]

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
22,14,A project aimed to fund a physical release of ...,"{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",705,NZ,1489362264,"{""id"":190509036,""name"":""Matt J"",""slug"":""greenm...",NZD,$,True,...,formed-on-wednesdays-golden-man-physical-release,https://www.kickstarter.com/discover/categorie...,True,False,successful,1491965926,0.69223,"{""web"":{""project"":""https://www.kickstarter.com...",702.613237,international

In [15]:
# What´s the fx_rate??
rate = ['currency', 'fx_rate', 'created_at', 'launched_at']
df[rate].query('currency == "SEK"').head(1)

    currency   fx_rate  created_at  launched_at
129      SEK  0.106663  1443687693   1444740208

In [16]:
# projects with no backer
df.query('pledged == 0').shape

(18362, 33)

In [17]:
df.query('pledged == 0 and state == "failed"').shape

(15009, 33)

In [18]:
# which currencies do we have?
df['currency'].unique()

array(['USD', 'GBP', 'EUR', 'AUD', 'NZD', 'NOK', 'CAD', 'SGD', 'MXN',
       'SEK', 'HKD', 'JPY', 'DKK', 'CHF'], dtype=object)

In [19]:
# are there currencies with a lot of no-backers?
cur = ['currency', 'pledged']
count_zero = [df[cur].query('currency == "USD" and pledged == 0').shape,
              df[cur].query('currency == "GBP" and pledged == 0').shape,
              df[cur].query('currency == "EUR" and pledged == 0').shape,
              df[cur].query('currency == "AUD" and pledged == 0').shape,
              df[cur].query('currency == "NZD" and pledged == 0').shape,
              df[cur].query('currency == "NOK" and pledged == 0').shape,
              df[cur].query('currency == "CAD" and pledged == 0').shape,
              df[cur].query('currency == "SGD" and pledged == 0').shape,
              df[cur].query('currency == "MXN" and pledged == 0').shape,
              df[cur].query('currency == "SEK" and pledged == 0').shape,
              df[cur].query('currency == "HKD" and pledged == 0').shape,
              df[cur].query('currency == "JPY" and pledged == 0').shape,
              df[cur].query('currency == "DKK" and pledged == 0').shape,
              df[cur].query('currency == "CHF" and pledged == 0').shape]
count_zero

[(12615, 2),
 (1770, 2),
 (1613, 2),
 (544, 2),
 (86, 2),
 (58, 2),
 (1072, 2),
 (25, 2),
 (285, 2),
 (121, 2),
 (30, 2),
 (7, 2),
 (81, 2),
 (55, 2)]

In [20]:
# how many values per currency do we have?
cur = [df.query('currency == "USD"').shape, 
       df.query('currency == "GBP"').shape,
       df.query('currency == "EUR"').shape,
       df.query('currency == "AUD"').shape,
       df.query('currency == "NZD"').shape,
       df.query('currency == "NOK"').shape,
       df.query('currency == "CAD"').shape,
       df.query('currency == "SGD"').shape,
       df.query('currency == "MXN"').shape,
       df.query('currency == "SEK"').shape,
       df.query('currency == "HKD"').shape,
       df.query('currency == "JPY"').shape,
       df.query('currency == "DKK"').shape,
       df.query('currency == "CHF"').shape]
cur

[(148489, 33),
 (23108, 33),
 (13951, 33),
 (4866, 33),
 (931, 33),
 (511, 33),
 (9823, 33),
 (698, 33),
 (2367, 33),
 (1421, 33),
 (1085, 33),
 (389, 33),
 (920, 33),
 (663, 33)]

In [21]:
# which current_currencies do we have?
df['current_currency'].unique()

array(['USD', 'CAD', 'AUD', 'GBP', 'EUR'], dtype=object)

In [22]:
# how many values for each current_currency do we have?
cur_cur = [df.query('current_currency == "USD"').shape,
           df.query('current_currency == "CAD"').shape,
           df.query('current_currency == "AUD"').shape,
           df.query('current_currency == "GBP"').shape,
           df.query('current_currency == "EUR"').shape]
cur_cur

[(208742, 33), (372, 33), (72, 33), (24, 33), (12, 33)]

In [23]:
df[finance].query('currency == "USD" and current_currency == "USD"').shape

(148204, 10)

In [24]:
df[finance].query('currency == "CAD" and current_currency == "CAD"').shape

(23, 10)

In [25]:
df[finance].query('currency == "AUD" and current_currency == "AUD"').shape

(0, 10)

In [26]:
df[finance].query('currency == "AUD" and current_currency == "USD"').shape

(4854, 10)

In [27]:
df[finance].query('currency == "GBP" and current_currency == "GBP"').shape

(5, 10)

In [28]:
df[finance].query('currency == "EUR" and current_currency == "EUR"').shape

(2, 10)

In [29]:
cur_cur_USD = [df[finance].query('currency == "USD" and current_currency == "USD"').shape, 
       df[finance].query('currency == "GBP" and current_currency == "USD"').shape,
       df[finance].query('currency == "EUR" and current_currency == "USD"').shape,
       df[finance].query('currency == "AUD" and current_currency == "USD"').shape,
       df[finance].query('currency == "NZD" and current_currency == "USD"').shape,
       df[finance].query('currency == "NOK" and current_currency == "USD"').shape,
       df[finance].query('currency == "CAD" and current_currency == "USD"').shape,
       df[finance].query('currency == "SGD" and current_currency == "USD"').shape,
       df[finance].query('currency == "MXN" and current_currency == "USD"').shape,
       df[finance].query('currency == "SEK" and current_currency == "USD"').shape,
       df[finance].query('currency == "HKD" and current_currency == "USD"').shape,
       df[finance].query('currency == "JPY" and current_currency == "USD"').shape,
       df[finance].query('currency == "DKK" and current_currency == "USD"').shape,
       df[finance].query('currency == "CHF" and current_currency == "USD"').shape]
cur_cur_USD

[(148204, 10),
 (23049, 10),
 (13895, 10),
 (4854, 10),
 (927, 10),
 (508, 10),
 (9796, 10),
 (694, 10),
 (2361, 10),
 (1414, 10),
 (1077, 10),
 (383, 10),
 (919, 10),
 (661, 10)]

In [30]:
# convert goal and pledged in USD
df['goal'] = df['goal'] * df['static_usd_rate']
df['pledged']= df['pledged'] * df['static_usd_rate']
df[finance].head(5)

,country,converted_pledged_amount,currency,current_currency,fx_rate,goal,pledged,static_usd_rate,usd_pledged,usd_type
0,US,28645,USD,USD,1.000000,28000.0000,28645.000000,1.000000,28645.000000,international
1,US,1950,USD,USD,1.000000,1000.0000,1950.000000,1.000000,1950.000000,domestic
2,US,22404,USD,USD,1.000000,15000.0000,22404.000000,1.000000,22404.000000,international
3,GB,165,GBP,USD,1.308394,12160.6569,165.384934,1.216066,165.384934,domestic
4,US,2820,USD,USD,1.000000,2800.0000,2820.000000,1.000000,2820.000000,domestic

In [31]:
# drop unimportant columns related to currency
# drop: converted_pledged_amount, currency_symbol, currency_trailing_code, current_currency, fx_rate, usd_type
#df.drop(['converted_pledged_amount', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'fx_rate', 
         #'usd_type'], axis=1, inplace = True)
df.shape

(209222, 33)

# Time, spotlight

In [32]:
from datetime import date
>>> d = date.fromordinal(1408810290)
d

ValueError: year 3857192 is out of range

In [ ]:
import time

In [ ]:
ticks = time.time()

In [ ]:
import time
time.gmtime(1408810290)

In [ ]:
df.groupby('spotlight')['spotlight'].count()

In [ ]:
df.query('spotlight == True and state == "successful"').shape

In [ ]:
df.query('spotlight == False and state == "successful"').shape

In [ ]:
df.query('spotlight == False and state == "live"').shape

In [ ]:
df.query('spotlight == False and state == "canceled"').shape

In [ ]:
df.query('spotlight == False and state == "failed"').shape

In [ ]:
df.query('spotlight == False and state == "suspended"').shape

In [ ]:
df.query('spotlight == False and state == "canceled"').shape

In [ ]:
# neue Spalten neue Spalte - pledged per backer neue Spalte - pledged/goal (prozent)
df['pledged_per_backer'] = (df['pledged'] / df['backers_count']).round(2)
df['rel_pledged_goal'] = ((df['pledged'] / df['goal']) * 100).round(2) 
df['rel_pledged_goal']
df['pledged_per_backer']

# staff_pick

In [ ]:
df.groupby('staff_pick')['staff_pick'].count()

In [ ]:
((df.groupby('staff_pick')['staff_pick'].count()[1]) / (df.shape[0])*100).round(2)

In [ ]:
((df.groupby('staff_pick')['staff_pick'].count()[0]) / (df.shape[0])*100).round(2)

## Drop rows

In [33]:
# drop rows with missing values in blurb
#df.groupby('blurb')['blurb'].count()
#df.query('blurb == "NaN"').shape
df.dropna(subset = ['blurb'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209214 entries, 0 to 209221
Data columns (total 33 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             209214 non-null  int64
 1   blurb                     209214 non-null  object
 2   category                  209214 non-null  object
 3   converted_pledged_amount  209214 non-null  int64
 4   country                   209214 non-null  object
 5   created_at                209214 non-null  int64
 6   creator                   209214 non-null  object
 7   currency                  209214 non-null  object
 8   currency_symbol           209214 non-null  object
 9   currency_trailing_code    209214 non-null  bool
 10  current_currency          209214 non-null  object
 11  deadline                  209214 non-null  int64
 12  disable_communication     209214 non-null  bool
 13  fx_rate                   209214 non-null  float64
 14  goal                      209214 non-null  float64
 15  id                        209214 non-null  int64
 16  is_starrable              209214 non-null  bool
 17  launched_at               209214 non-null  int64
 18  location                  208988 non-null  object
 19  name                      209214 non-null  object
 20  photo                     209214 non-null  object
 21  pledged                   209214 non-null  float64
 22  profile                   209214 non-null  object
 23  slug                      209214 non-null  object
 24  source_url                209214 non-null  object
 25  spotlight                 209214 non-null  bool
 26  staff_pick                209214 non-null  bool
 27  state                     209214 non-null  object
 28  state_changed_at          209214 non-null  int64
 29  static_usd_rate           209214 non-null  float64
 30  urls                      209214 non-null  object
 31  usd_pledged               209214 non-null  float64
 32  usd_type                  208734 non-null  object
dtypes: bool(5), float64(5), int64(7), object(16)
memory usage: 47.3+ MB

In [34]:
# drop rows with 'suspended', 'live' in column 'state'
#df.query('state == "suspended" or state == "live"').drop()
df = df.drop(df[df['state'] == "suspended" ].index)
df = df.drop(df[df['state'] == "live" ].index)
df.shape

(201280, 33)

In [ ]:
https://www.python-forum.de/viewtopic.php?t=47782

In [35]:
import csv

from metar import Metar

In [ ]:
metar_data_parsed.to_csv('Dateipfad/Dateiname')